
.gridFather{
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    align-items: center;
    height: 40vh;
}

.dFlexColumn{
    display: flex;
    flex-direction: column;
}
.containerCentered{
    display: flex;
    justify-content: center;
}
.principalContainer{
    max-width: 100%;
}
.dFlex{
    display: flex;
    margin: 1.5rem;
}
.link{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

footer{
    text-align: center;
    width: 100%;

}